:root {
	font-size: 1.375rem;
	color-scheme: dark;
	--lfw: 240px;
	--african-violet: #c9f;
	--almond: #ffaa90;
	--almond-creme: #fba;
	--blue: #56f;
	--bluey: #89f;
	--butterscotch: #f96;
	--gold: #fa0;
	--golden-orange: #f90;
	--gray: #668;
	--green: #993;
	--ice: #9cf;
	--lilac: #c5f;
	--lima-bean: #cc6;
	--magenta: #c59;
	--mars: #f20;
	--moonlit-violet: #96f;
	--orange: #f80;
	--peach: #f86;
	--red: #c44;
	--sky: #aaf;
	--space-white: #f5f6fa;
	--sunflower: #fc9;
	--tomato: #f55;
	--violet-creme: #dbf;
	--left-frame-top-color: var(--bluey);
	--left-frame-color: var(--red); /* .panel-9 inherits this color */
	--left-frame-padding: .75rem;
	--corner-color-top: var(--bluey);
	--corner-color-bottom: var(--red);
	--panel-1-color: var(--african-violet);
	--panel-4-color: var(--red);
	--panel-5-color: var(--orange);
	--panel-6-color: var(--butterscotch);
	--panel-7-color: var(--bluey);
	--panel-8-color: var(--butterscotch);
	--panel-10-color: var(--orange);
	--panel-top-button-color: var(--african-violet);
	--bar-height: 28px;
	--bar-1-6-width: 40%;
	--bar-2-7-width: 4%;
	--bar-3-8-width: 17%;
	--bar-5-10-width: 4%;
	--bar-1-color: var(--bluey);
	--bar-2-color: var(--orange);
	--bar-3-color: var(--african-violet);
	--bar-4-color: var(--african-violet);
	--bar-5-color: var(--red);
	--bar-6-color: var(--red);
	--bar-7-color: var(--butterscotch);
	--bar-8-color: var(--red);
	--bar-9-color: var(--african-violet);
	--bar-10-color: var(--butterscotch);
	--radius-top: 0 0 0 160px;
	--radius-bottom: 160px 0 0 0;
	--radius-content-top: 0 0 0 60px;
	--radius-content-bottom: 60px 0 0 0;
	--panel-border: .25rem solid black;
	--bar-border: .25rem solid black;
	--bar-cut-width: 34%;
	--bar-cut-out-width: 34%;
	--divider-height: .5rem;
	--font-color: var(--african-violet);
	--sub-fonts: .875rem;
	--dc-font-size: .875rem;
	--dc-row-height: calc(var(--dc-font-size) + .125rem);
	--banner-color: var(--orange);
	--meta-data-color: var(--african-violet);
	--data-cascade-color: var(--orange);
	--light-color: white;
	--h1-color: var(--african-violet);
	--h2-color: var(--african-violet);
	--h3-color: var(--african-violet);
	--h4-color: var(--african-violet);
	--link-color: #c16fff;
	--code-color: var(--orange);
	--nav-width: 240px;
	--nav-1-color: var(--bluey);
	--nav-2-color: var(--butterscotch);
	--nav-3-color: var(--orange);
	--nav-4-color: var(--red);
	--button-color: var(--african-violet);
	--button-color-sidebar: var(--red);
	--lcars-bar-color: var(--african-violet);
	--lcars-bar-start-color: var(--moonlit-violet);
	--lcars-bar-end-color: var(--moonlit-violet);
	--lcars-bar-text-color: var(--golden-orange);

/* Image Frame */

	--image-border-color: var(--almond-creme);
	--primary-color: var(--orange);
	--secondary-color: var(--moonlit-violet);
	--accent-color: var(--almond-creme);
	--title-color: var(--almond-creme);
	--spacers: .65rem;
	--frame-height: 40px;
}
